<!DOCTYPE html>
<html>
  <head>
    <title>MedLink</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link rel="icon" href="images/iconhead.jpg">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link href="styles/findHospital.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check" name="" value="" />
      <label for="check" id="checkbtn">
        <i class="fa fa-bars"></i>
      </label>
      <label class="logo">
        <img
          src="images/icon.jpg"
          height="70px"
          width="150px"
          alt="MedLink Logo"
        />
      </label>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services" class="active">Services</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li id="login">
          <a href="/login">Login/Signup</a>
        </li>
        <li id="user-info" style="display: none">
          <a href="#">Welcome, <span id="name"></span>!</a>
          <a href="/api/logout" id="logout-btn">Logout</a>
        </li>
      </ul>
    </nav>

    <section class="search-section">
      <div class="hospital-text">
        <pre>_______   Welcome to MedLink</pre>
        <h1>Find Nearest Hospital.</h1>
        <div id="searchBar">
          <input type="text" id="citySearch" placeholder="Locations" />
          <i id="loc" class="fas fa-map-marker-alt"></i>
          <button onclick="searchCity()">
            <i class="fas fa-search"></i> Find Now
          </button>
        </div>
      </div>
      <div class="hospital-image">
        <img src="images/unnamed.png" />
      </div>
    </section>
    <div id="map"></div>
    <div id="hospitalList"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="js/findHospital.js"></script>
  </body>
  <script src="js/home1.js"></script>
</html>
