<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Medicines</title>
    <link rel="icon" href="iconhead.jpg" />
    <link rel="stylesheet" href="/styles/medicine.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
    <script src="js/medicine.js"></script>
</head>
<body>
    <nav>
        <input type="checkbox" id="check" name="" value="">
        <label for="check" id="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
            <label class="logo">
             <img src="images/icon.jpg" height="70px" width="150px">
            </label>
            <ul>
             <li><a href="/">Home</a></li>
             <li><a href="Services.html" class="active">Services</a></li>
             <li><a href="Aboutus.html">About us</a></li>
             <li><a href="contact.html">Contact us</a></li>
             <li><a href="login.html">Login/Signup</a></li>
            </ul>
    </nav>

    
    <section class="search-section">
        <div class="search-content">
            <h2>Buy Medicines and Essentials</h2>
            <div class="search-bar">
                <input type="text" placeholder="Search Medicines">
                <button>🔍</button>
                <a href="/medcart" class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span id="cart-count">0</span>
                </a>
            </div>
        </div>
    </section>

    
    <section class="hero">
        <div class="container">
            <div class="hero-items">
                <div class="hero-item">
                    <img src="https://i.pinimg.com/736x/91/db/35/91db35d4cb14819cd525f952db2d0d2a.jpg" alt="Order Medicine">
                    <h3>Order Medicine</h3>
                </div>
                <div class="hero-item">
                    <img src="https://i.pinimg.com/736x/25/67/91/2567919dc66fcfd9d932a779df38f00c.jpg" alt="Order by Prescription">
                    <h3>Order by Prescription</h3>
                </div>
                <div class="hero-item">
                    <img src="https://i.pinimg.com/736x/24/59/c9/2459c9c43d365d7e0759e0271bcddef5.jpg" alt="Reorder Medicine">
                    <h3>Reorder Medicine</h3>
                </div>
                <div class="hero-item">
                    <img src="https://i.pinimg.com/736x/15/22/b5/1522b54572eb1973d98622f7733648a7.jpg" alt="Shop by Category">
                    <h3>Shop by Category</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="slider">
        <div class="slides">
            <a href="https://www.example.com/product1"><img src="https://mercury.akamaized.net/i/74149777d22f3768a198e93c7799287e_70759_0.jpg" alt="Protein Powerhouse"></a>
            <a href="https://www.example.com/product2"><img src="https://mercury.akamaized.net/i/062b8662dcefe2c675c5b9eff1f84b56_259685_0.jpg" alt="Beat the Diabetes"></a>
            <a href="https://www.example.com/product2"><img src="https://mercury.akamaized.net/i/8e70230e856a1504cf9cc0dc1b4ae7ce_70765_0.jpg" alt="Healthy Living"></a>
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </section>


    <section class="products">
        <h2>Best of Ayurvedic, Siddha & Unani</h2>
        <div class="slider-container">
            <button class="prev-slide">&#10094;</button>
            <div class="product-slider">
                <div class="product-card">
                    <img src="https://cdn.zeptonow.com/production/tr:w-640,ar-1021-1021,pr-true,f-auto,q-80/cms/product_variant/51423e0a-4eec-4634-9ca9-14ccbf5689dc.jpeg">
                    <h3>Dabur Pudin Hara Pearls</h3>
                    <p>₹ 33.25 <span class="old-price">₹ 35.00</span></p>
                    <p class="discount">GET 5% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://himalayawellness.eu/cdn/shop/files/LIV-52-DS-2000px-KI_1.png?v=1699423150">
                    <h3>Himalaya Liv.52 Tablet</h3>
                    <p>₹ 175.23 <span class="old-price">₹ 215.00</span></p>
                    <p class="discount">GET 18.5% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://www.netmeds.com/images/product-v1/600x600/413953/kayam_tablet_30_s_0.jpg">
                    <h3>Kayam Tablet 30 Tablets</h3>
                    <p>₹ 107.53 <span class="old-price">₹ 115.00</span></p>
                    <p class="discount">GET 6.5% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-4prJW1lK2BWjfsDdOphgqUGbUK3M8eZMeQ&s">
                    <h3>Galact Granules 200gm</h3>
                    <p>₹ 399.95 <span class="old-price">₹ 421.00</span></p>
                    <p class="discount">GET 5% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://m.media-amazon.com/images/I/81rkz2TDltL.jpg">
                    <h3>Dabur Pudin Hara Liquid</h3>
                    <p>₹ 52.25 <span class="old-price">₹ 55.00</span></p>
                    <p class="discount">GET 5% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>

                <div class="product-card">
                    <img src="https://m.media-amazon.com/images/I/51rU0kd5-ZL._AC_UF1000,1000_QL80_.jpg" alt="Dabur Pudin Hara Liquid">
                    <h3>Dr.Ortho Ayurvedic Medicine Oil</h3>
                    <p>₹ 274.35<span class="old-price">₹ 295.00</span></p>
                    <p class="discount">GET 7% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
            </div>
            <button class="next-slide">&#10095;</button>
        </div>
    </section>
    

    <section class="products1">
        <h2>Deals on Fitness</h2>
        <div class="slider-container">
            <button class="prev-slide">&#10094;</button>
            <div class="product-slider">
                <div class="product-card">
                    <img src="https://www.netmeds.com/images/product-v1/600x600/884750/snec30_curcumin_capsules_60s_0_2.jpg">
                    <h3>Snec30 Curcumin Capsules 60's</h3>
                    <p>₹ 1,338.48 <span class="old-price">₹ 1716.00</span></p>
                    <p class="discount1">GET 22% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://www.netmeds.com/images/product-v1/600x600/858544/inlife_ginkgo_biloba_capsule_60s_78266_0_3.jpg">
                    <h3>INLIFE Ginkgo Biloba Capsule 60's</h3>
                    <p>₹ 389.79 <span class="old-price">₹ 639.00</span></p>
                    <p class="discount1">GET 7% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://www.netmeds.com/images/product-v1/600x600/1029742/nano_deca_pme_dietary_supplement_10s_0_0.jpg">
                    <h3>Dietary Supplement Tablet 10's</h3>
                    <p>₹ 134.64 <span class="old-price">₹ 153.00</span></p>
                    <p class="discount1">GET 12% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://www.netmeds.com/images/product-v1/600x600/357753/d_protin_chocolate_powder_500_gm_0.jpg">
                    <h3>D Protin Chocolate Powder 500 gm</h3>
                    <p>₹ 399.95 <span class="old-price">₹ 421.00</span></p>
                    <p class="discount1">GET 7% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://www.netmeds.com/images/product-v1/600x600/407923/revital_h_tablet_women_30s_758178_0_0.jpg">
                    <h3>Revital H Tablet - Women 30's</h3>
                    <p>₹ 618.55 <span class="old-price">₹ 695.00</span></p>
                    <p class="discount1">GET 11% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>

                <div class="product-card">
                    <img src="https://www.netmeds.com/images/product-v1/600x600/826945/ensure_plus_nutritional_powder_vanilla_flavour_1_kg_pet_jar_124613_0_4.jpg" alt="Dabur Pudin Hara Liquid">
                    <h3>Nutritional Powder - Vanilla 1Kg</h3>
                    <p>₹ 1596.45 <span class="old-price">₹ 1835.00</span></p>
                    <p class="discount1">GET 13% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>
            </div>
            <button class="next-slide">&#10095;</button>
        </div>
    </section>
    
    <section class="popular-categories">
        <h2>Popular Categories</h2>
        <div class="categories-container">
            <div class="category">
                <div class="category-box">
                    <img src="https://www.netmeds.com/images/category/prod/thumb/ayush.png" alt="Ayush">
                    <h3>AYUSH</h3>
                </div>
            </div>

            <div class="category">
                <div class="category-box">
                    <img src="https://www.netmeds.com/images/category/prod/thumb/fitness.png" alt="Fitness">
                    <h3>FITNESS</h3>
                </div>
            </div>

            <div class="category">
                <div class="category-box">
                    <img src="https://www.netmeds.com/images/category/v1/665/thumb/devices_1.png" alt="Devices">
                    <h3>DEVICES</h3>
                </div>
            </div>

            <div class="category">
                <div class="category-box personal-care">
                    <img src="https://www.netmeds.com/images/category/prod/thumb/personal_care.png" alt="Personal Care">
                    <h3>PERSONAL CARE</h3>
                </div>
            </div>

           
        </div>
    </section>

    <section class="products">
        <h2>Best Sellers in Personal Care</h2>
        <div class="slider-container">
            <button class="prev-slide">&#10094;</button>
            <div class="product-slider">
                <div class="product-card">
                    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTU5GTUg6gP9xWkAJcLIduoE3Nadl4F4uVPeS2CZ2wpujR9-GAhLvSy1vnumCgXEp8oIC86Ik6vUf1_PRzMALMGlwyEL1vmXrmBPOG4xU-swo_NFJEo-g7n5Q&usqp=CAE">
                    <h3>Cetaphil Moisturizer</h3>
                    <p>₹ 1325.22 <span class="old-price">₹ 1699.00</span></p>
                    <p class="discount">GET 22% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR9MwldvkgX1vdkWO-HSXU0O8dqYAV_AyfPNc00eexH93C6bqZDRXH7Xcod5lXfN6-MDdX8byTe4Y36JDAbVjou7kyYOHmphAGslb55X4lGuKmuex25cdLreQ&usqp=CAE">
                    <h3>Dettol Antiseptic Liquid</h3>
                    <p>₹ 401.40.23 <span class="old-price">₹ 441.00</span></p>
                    <p class="discount">GET 9% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQUo4867WWHgJvY3V7VuynVbzlQse7_bfGQgGboOeRF237k66CHoszdFem8n6qsZnS0iPPWq_8DbX_f5wq-c3w06NzZtvub8gb6Z3v2-5N7kJL3t0Z2GDVG&usqp=CAE">
                    <h3>AHAGLOW facewash gel</h3>
                    <p>₹ 686.28 <span class="old-price">₹ 798.00</span></p>
                    <p class="discount">GET 14% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://www.clinikally.com/cdn/shop/products/UVdouxspf5050g.jpg?v=1675847654&width=900">
                    <h3>UV DUOX Sunscreen</h3>
                    <p>₹ 669.76 <span class="old-price">₹ 745.00</span></p>
                    <p class="discount">GET 10.1% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQOmvFqPXCa--gBtM9sJ6ahjE3AJnWHIU3-WMaKq6FnZJnfSmTaaMEA612PKWGtzXmLt1Kn0jH-a652sQlcF0l9_96u4hZlLsIo1s5bKPOOxD-6iti-g3OvuA&usqp=CAE">
                    <h3>Scalpe anti-dandruff Shampoo</h3>
                    <p>₹ 258.23 <span class="old-price">₹ 323.00</span></p>
                    <p class="discount">GET 20% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>

                <div class="product-card">
                    <img src="https://www.netmeds.com/images/product-v1/600x600/382110/cetaphil_restoraderm_skin_restoring_body_moisturizer_cream_295ml_114526_0_1.jpg" alt="Dabur Pudin Hara Liquid">
                    <h3>Cetaphil Restoraderm</h3>
                    <p>₹ ₹1895.14 <span class="old-price">₹ ₹2561.00</span></p>
                    <p class="discount">GET 26% OFF</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
            </div>
            <button class="next-slide">&#10095;</button>
        </div>
    </section>
    

    <section class="products1">
        <h2>Surgical Super Savers</h2>
        <div class="slider-container">
            <button class="prev-slide">&#10094;</button>
            <div class="product-slider">
                <div class="product-card">
                    <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSFHkb6qyx8cni56jc0YLI8NkqybwU-83iAaDZHsakATlxGIkzp-TJcF8eqoJ_g3qWWsSDLebss93iscKAPFDnRf5ov8Wom6NQ-M3n-quYe2kqrGgo-rimt&usqp=CAE" alt="3M Opticlude Eye Patches">
                    <h3>3M Opticlude Orthoptic Eye Patches (1539) 20'S</h3>
                    <p class="price">₹392.00 <span class="old-price">₹700.00</span></p>
                    <p class="discount1">GET 44% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcRpJIYwJnVDWk3YsUrUeon0w5V0iZnN_ydzqwagnmobkD-gY0D1wiumosWZNTajpEsGkRXvvbeHLoTdQoDMrK9TAqkCZoNBfFoPU0qKwftm1RMBX1Nt4kosxg&usqp=CAE" alt="Hansaplast Cotton Crepe Bandage">
                    <h3>Hansaplast Cotton Crepe Bandage B.P.</h3>
                    <p class="price">₹228.80 <span class="old-price">₹352.00</span></p>
                    <p class="discount1">GET 35% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://www.netmeds.com/images/product-v1/600x600/1009316/wellness_surgical_cotton_roll_500_gm_0_0.jpg" alt="Wellness Surgical Cotton Roll">
                    <h3>Wellness Surgical Cotton Roll 500gm</h3>
                    <p class="price">₹399.00 <span class="old-price">₹570.00</span></p>
                    <p class="discount1">GET 30% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://onemg.gumlet.io/l_watermark_346,w_480,h_480/a_ignore,w_480,h_480,c_fit,q_auto,f_auto/cropped/my7hpvuggmlsdeybnti7.jpg" alt="3M Tegaderm HP+ Pad Film Dressing">
                    <h3>3M Tegaderm HP+Pad Film Dressing</h3>
                    <p class="price">₹130.90 <span class="old-price">₹170.00</span></p>
                    <p class="discount1">GET 23% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://5.imimg.com/data5/SELLER/Default/2022/6/RJ/NW/FU/8665347/hansaplast-spot-antiseptic-bandage-50s-0-1.jpg" alt="Hansaplast Spot Antiseptic Bandage">
                    <h3>Hansaplast Spot Antiseptic Bandage 50'S</h3>
                    <p class="price">₹87.00 <span class="old-price">₹100.00</span></p>
                    <p class="discount1">GET 13% OFF</p>
                    <button class="add-to-cart1">ADD TO CART</button>
                </div>
                
            </div>
            <button class="next-slide">&#10095;</button>
        </div>
    </section>


    <section class="popular-categories">
        <h2>Brands in Focus</h2>
        <div class="categories-container">
            <div class="category">
                <div class="category-box">
                    <img src="https://ik.imagekit.io/anscommerce/image/tr:e-sharpen-01,h-1080,w-1080,cm-pad_resize/data/galderma/08may2024/F43000_1.jpg" alt="Cetaphil">
                    <h3>Cetaphil</h3>
                </div>
            </div>

            <div class="category">
                <div class="category-box">
                    <img src="https://m.media-amazon.com/images/I/61lBgAv8UDL.jpg" alt="Fitness">
                    <h3>Accu-check</h3>
                </div>
            </div>

            <div class="category">
                <div class="category-box">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOkVksa_GNjv0rwfXSwKmeSA52kyr9Otl7MA&s" alt="Devices">
                    <h3>D-protin</h3>
                </div>
            </div>

            <div class="category">
                <div class="category-box personal-care">
                    <img src="https://m.media-amazon.com/images/I/717v4zE201L.jpg" alt="Personal Care">
                    <h3>Sebamed</h3>
                </div>
            </div>

            <div class="category">
                <div class="category-box personal-care">
                    <img src="https://medeasysave.com/cdn/shop/files/AHA-GLOW-S-FACE-WASH_1080x.jpg?v=1709293754" alt="Personal Care">
                    <h3>Ahaglow</h3>
                </div>
            </div>

        </div>
    </section>

    <section class="products">
        <h2>Spotlight Deals on Devices</h2>
        <div class="slider-container">
            <button class="prev-slide">&#10094;</button>
            <div class="product-slider">
                <div class="product-card">
                    <img src="https://m.media-amazon.com/images/I/619z2QQgO9L._AC_UF1000,1000_QL80_.jpg" alt="Dr. Morepen GlucoOne">
                    <h3>Onetouch Select Plus Test Strips 50's</h3>
                    <p class="price">₹ 1,063.55 <span class="old-price">₹ 1195.00</span></p>
                    <p class="discount">GET 11% off</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://www.netmeds.com/images/product-v1/400x400/354458/accu_chek_active_test_strip_100s_42974_0_1.webp" alt="Accu-Chek Active Test Strips">
                    <h3>Accu-Chek Active Test Strip 100'S</h3>
                    <p class="price">₹ 1,783.30 <span class="old-price">₹ 2,098.00</span></p>
                    <p class="discount">GET 15% off</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
    
                <div class="product-card">
                    <img src="https://images.apollo247.in/pub/media/catalog/product/a/c/acc0089_1-oct2023.jpg" alt="AccuSure Blood Pressure Monitor">
                    <h3>AccuSure Blood Pressure Monitor - TD</h3>
                    <p class="price">₹ 1,140.00 <span class="old-price">₹ 1,520.00</span></p>
                    <p class="discount">GET 25% off</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>

                <div class="product-card">
                    <img src="https://m.media-amazon.com/images/I/71xExwFHEZL._AC_UF1000,1000_QL80_.jpg" alt="Blood Glucose Monitor">
                    <h3>Dr. Morepen GlucoOne Blood Glucose Monitor</h3>
                    <p class="price">₹ 465.23 <span class="old-price">₹ 665.00</span></p>
                    <p class="discount">GET 30% off</p>
                    <button class="add-to-cart">ADD TO CART</button>
                </div>
            </div>
            <button class="next-slide">&#10095;</button>
        </div>
    </section>

     

     <footer>
        <div class="fcontainer">
          <div class="footer-col">
            <h2>MedLink</h2>
            <p class="footer-para">
              Simplifying healthcare management with easy doctor appointments,
              time slot selection, and nearby doctor and hospital searches.
            </p>
          </div>
          <div class="footer-col">
            <h3>Menu</h3>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="#" onclick="alert('Coming Soon..')">Services</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h3>Newsletter</h3>
            <form action="#">
              <i class="fa-solid fa-envelope"></i>
              <input type="email" placeholder="Enter Email" required />
              <button type="submit">
                <i class="fa-solid fa-arrow-right"></i>
              </button>
            </form>
            <div class="social-icons">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-youtube"></i></a>
              <a href="#"><i class="fa-brands fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>